<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaLevá</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <h1>Aguardando confirmação:</h1>
        <ul>
            <li v-for="order in ordersList.filter(order => order.status == 'Aguardando confirmação da cozinha')">
                <div>
                    <br>
                    <a class="link" v-bind:href="'order-details.html?code=' + order.code">
                        <strong>{{ order.code }}</strong>
                    </a>
                    <br>Status: {{ order.status }}
                    <br>Horário de criação: {{ order.created_at }}
                </div>
            </li>
        </ul>

        <h1>Em preparação:</h1>
        <ul>
            <li v-for="order in ordersList.filter(order => order.status == 'Em preparação')">
                <div>
                    <div >
                    <br>
                    <a class="link" v-bind:href="'order-details.html?code=' + order.code">
                        <strong>{{ order.code }}</strong>
                    </a>
                    <br>Status: {{ order.status }}
                    <br>Horário de criação: {{ order.created_at }}
                </div>
            </li>
        </ul>

        <h1>Pronto:</h1>
        <ul>
            <li v-for="order in ordersList.filter(order => order.status == 'Pronto')">
                <div>
                    <br>
                    <a class="link" v-bind:href="'order-details.html?code=' + order.code">
                        <strong>{{ order.code }}</strong>
                    </a>
                    <br>Status: {{ order.status }}
                    <br>Horário de criação: {{ order.created_at }}
                </div>
            </li>
        </ul>

        <h1>Pedidos cancelados:</h1>
        <ul>
            <li v-for="order in ordersList.filter(order => order.status == 'Cancelado')">
                <div>
                    <br>
                    <a class="link" v-bind:href="'order-details.html?code=' + order.code">
                        <strong>{{ order.code }}</strong>
                    </a>
                    <br>Status: {{ order.status }}
                    <br>Horário: {{ order.created_at }}
                </div>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="orders-list.js"></script>
</body>
</html>